name: Run Fly Worker
on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  run-worker:
    runs-on: ubuntu-latest
    steps:
      - name: Install Fly CLI
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          FLY_APP_NAME: ${{ secrets.FLY_APP_NAME }}
          FLY_MACHINE_NAME: ${{ secrets.FLY_MACHINE_NAME }}
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${FLY_API_TOKEN}" \
            -H "Content-Type: application/json" \
            https://api.machines.dev/v1/apps/${FLY_APP_NAME}/machines/FLY_MACHINE_NAME/start